---
import GithubIcon from "./iconos/Github.astro"
import WebIcon from "./iconos/Web.astro"
import ProjectIcon from './iconos/Project.astro'
import JavaIcon from "./iconos/Java.astro"
import ReactIcon from "./iconos/React.astro"
import JavasIcon from "./iconos/Javascript.astro"
import HtmlIcon from "./iconos/Html.astro"
import CssIcon from "./iconos/Css.astro"

const TAGS = {
    JAVA: {
        name: 'Java',
        class: "bg-[#C3C7F3] text-black dark:bg-[#9EC8B9]",
        icon: JavaIcon,
    }, 
    REACT: {
        name: "React",
        class: "bg-[#C3C7F3] dark:bg-[#9EC8B9] text-black",
        icon: ReactIcon,
    },
    JAVASCRIPT: {
        name: "Javascript",
        class: "bg-[#C3C7F3] dark:bg-[#9EC8B9] text-black",
        icon: JavasIcon,
    },
    HTML: {
        name: "html",
        class: "bg-[#C3C7F3] dark:bg-[#9EC8B9] text-black",
        icon: HtmlIcon,
    },
    CSS: {
        name: "Css",
        class: "bg-[#C3C7F3] dark:bg-[#9EC8B9] text-black",
        icon: CssIcon,
    }
}


const PROYECTOS = [
    {
        title: "Encriptador",
        description: "Codifica mensajes y desencripta mensajes lo cree utilizando html, css y javascript la pagina tambien es responsive a dispositivos como tablets y celulares ",
        Image: "/Portafolio-Astro/imagenes/encriptador.png" ,
        tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
        github: "https://github.com/Maynor06/encriptadorDeTexto",
        link: "https://maynor06.github.io/encriptadorDeTexto/Encriptador"
    },
    {
        title: "Convertidor de monedas ",
        description: "Realiza el cambio de Quetzales a dolares, yenes, wones etc.. tambien realiza el cambio de grados Farenheint a Celsius y viceversa " ,
        Image: "/Portafolio-Astro/imagenes/convertidor de moneda.png",
        tags: [TAGS.JAVA],
        github: "https://github.com/Maynor06/Convertidor-de-Monedas",
        link: ""
    },
    {
        title: "Aplicacion de tareas",
        description: " Es un sitio web basico que te ayuda a organizar tus tareas del dia para construirlo utilizamos react con javascript, vite y tailwind para los estilos",
        tags: [TAGS.REACT],
        Image: "/Portafolio-Astro/imagenes/Aplicacion de tareas.png",
        github: "https://github.com/Maynor06/raeact-task2",
        link: "https://maynor06.github.io/raeact-task2/"
    },
    {
        title: "Aplicacion para hoteles",
        description: "Es una aplicacion en la cual pueden editar, eliminar y agendar reservaciones pero tambien pueden acceder a la lista de las reservaciones anteriores y las que estan por venir",
        tags: [TAGS.JAVA],
        Image: "/Portafolio-Astro/Hotel alura.png",
        github: "https://github.com/Maynor06/Portafolio-Astro",
        link: ""
    }
]
---

<h2 class=" justify-center text-4xl gap-3 py-4 font-semibold " ><ProjectIcon class="size-12"/>Proyectos </h2>
{   
    PROYECTOS.map(({title, description, Image,tags, github, link}) => (

        <div class="flex flex-col my-4 transition" id="Portafolio">
            <h3 class="font-semibold text-3xl my-2 text-purple-900 dark:text-yellow-200" >{title}</h3>
            <p class=" text-xl text-pretty " >{description}</p>
            <ul class="flex gap-x-2 flex-row mb-2 px-2 my-2 flex-wrap">
                {tags.map((tag) => (
                    <li>
                        <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 border border-white/10`}>
                        <tag.icon class="size-4"/>
                        {tag.name}
                        </span>  
                    </li>
                )) }
                <span class="bg-gray-100 dark:bg-[#9EC8B9] text-gray-800 text-xs font-medium px-2 py-1 rounded-full hover:scale-110">
                    <a href={github} class="flex gap-2" target="_blank"><GithubIcon class="size-4 " />Repositorio </a>    
                </span>
                
                {link !== "" ? 
                <span class="bg-gray-100 text-gray-800 dark:bg-[#9EC8B9] text-xs font-medium px-2 py-1 rounded-full hover:scale-110 ">
                    <a href={link} class="flex gap-2" target="_blank" ><WebIcon class="size-4" />Pruebalo</a>
                </span>
                    : null}  
                
            </ul>
            <img class="w-full rounded-xl my-2" src={Image} alt="imagen de"+ {title}/>  
        </div>
    ))
}